.ax-logo {
  width: 200px;
  height: 50px;
}

.custom-nav-bar {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 200;
  display: flex;
  padding-right: 20px;
  padding-left: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  position: relative;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 50px;
  -webkit-box-pack: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logout {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
