.content {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
