button {
  float: left;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 50px;
}

input {
  opacity: 0;
  font-size: 0;
  width: 200px;
  height: 50px;
  float: left;
}

input:hover {
  cursor: pointer;
}

label {
  float: left;
  margin-left: 6px;
  margin-top: 7px;
}

.csvContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.button-left {
  display: flex;
  justify-content: flex-start;
  height: 56px;
}

.button-center {
  display: flex;
  justify-content: center;
  height: 56px;
  z-index: 100;
}

.button-right {
  display: flex;
  justify-content: flex-end;
  height: 56px;
  z-index: 100;
}

table {
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  min-width: 360px;
  width: 100%;
}

.table-container {
  height: 600px;
  width: 100%;
  overflow: auto;
  margin-top: 50px;
}

th,
td {
  text-align: left;
  padding: 8px;
  word-wrap: none;
  height: 40px !important;
  border-left: 1px solid #ddd;
  width: 100px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

td:first-child,
th:first-child {
  border-left: none;
}

th {
  padding: 12px;
  text-align: left;
  background-color: #55608f;
  color: white;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

th:nth-of-type(8),
td:nth-of-type(8) {
  border-right: 10px solid rgba(248, 94, 10, 0.7);
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
    position: relative;
  }

  tr:nth-child(odd) {
    background: #999;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: transparent;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 8;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  th:nth-of-type(8),
  td:nth-of-type(8) {
    border-right: none;
    border-bottom: 10px solid rgba(248, 94, 10, 0.7);
  }

  td:nth-of-type(1):before {
    content: 'Record ID';
  }
  td:nth-of-type(2):before {
    content: 'TimeStamp';
  }
  td:nth-of-type(3):before {
    content: 'First Name';
  }
  td:nth-of-type(4):before {
    content: 'Last Name';
  }
  td:nth-of-type(5):before {
    content: 'Address';
  }
  td:nth-of-type(6):before {
    content: 'City';
  }
  td:nth-of-type(7):before {
    content: 'State';
  }
  td:nth-of-type(8):before {
    content: 'Zip';
  }
  td:nth-of-type(9):before {
    content: 'Name Bucket';
  }
  td:nth-of-type(10):before {
    content: 'Matrix Name';
  }
}
